# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# R studio files
.Rproj*/**
*.Rproj

# Data files
activity.zip
data/*
*.txt

# Markdown previews.
*.html